<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>コース情報一覧</title>
</head>
<body>
<table border="1">
  <h1>コース情報一覧</h1>
  <thead>
  <tr>
  <th>コースID</th>
  <th>受講生ID</th>
  <th>受講コース</th>
  <th>コース開始日</th>
  <th>コース終了日</th>
  </tr>
  </thead>
</tbody>
  <tr th:each="courseDetail : ${studentCourseList}">
    <td th:text="${courseDetail.courseId}">1</td>
    <td th:text="${courseDetail.studentId}">1</td>
    <td th:text="${courseDetail.course}">Java</td>
    <td th:text="${courseDetail.startDate}">2024-12-31</td>
    <td th:text="${courseDetail.endDate}">2025-01-01</td>
  </tr>
  </tbody>
</table>
</body>
</html>
